.menu {
  display: flex;
  justify-content: space-around;
  background-color: #e57373;
  padding: 10px;
}

.menu button {
  background: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.actor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.content {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.actor-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  max-width: 500px;
}
